@import '@fontsource/fira-mono';

:root {
  font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --font-mono: 'Fira Mono', monospace;
  --pure-white: #fff;
  --primary-color: #cdded0;
  --secondary-color: #cdded0;
  --tertiary-color: paleturquoise;
  --accent-color: #ff3e00;
  --heading-color: rgb(0 0 0 / 70%);
  --text-color: #444;
  --background-without-opacity: rgb(255 255 255 / 70%);
  --column-width: 42rem;
  --column-margin-top: 4rem;
}

body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(
    180deg,
    var(--primary-color) 0%,
    var(--secondary-color) 10.45%,
    var(--tertiary-color) 41.35%
  );
}

* {
  margin: 0;
  padding: 0;
}

body::before {
  content: '';
  width: 80vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 10vw;
  z-index: -1;
  background: radial-gradient(
    50% 50% at 50% 50%,
    var(--pure-white) 0%,
    rgb(255 255 255 / 0%) 100%
  );
  opacity: 5%;
}

h1,
h2,
p {
  font-weight: 400;
  color: var(--heading-color);
}

p {
  line-height: 1.5;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1rem;
}

ul,
li {
  list-style: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

ul li {
  margin: 1em;
}

ul li a {
  text-decoration: none;
}

pre {
  font-size: 16px;
  font-family: var(--font-mono);
  background-color: rgb(255 255 255 / 45%);
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
  padding: 0.5em;
  overflow-x: auto;
  color: var(--text-color);
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.4rem;
  }
}

form {
  z-index: 5;
  position: fixed;
  top: 25%;
  left: 50%;
  transform:translateX(-50%);
  margin-bottom: 15px;
  background-color: #ffdb58;
  border-left: 6px solid gray;
  border-radius: 0 10px 10px 0;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.note{
  min-height: 10em;
  width: 10em;
  padding: 1em;
  display: block;
  margin-bottom: 15px;
  background-color: #ffdb58;
  border-left: 6px solid gray;
  border-radius: 0 10px 10px 0;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  word-wrap: break-word;

  white-space: pre-line;
}

textarea {
  resize: none;
  outline: none;
  width: 170px;
  height: 170px;
  padding: 25px 25px 25px 25px;
}

svg {
  color: gray;
}

#check-icon {
  position: absolute;
  right: 17%;
  top: 2%;
}

#x-icon {
  position: absolute;
  right: 5%;
  top: 2%;
}

ul li:nth-child(even) {
  transform: rotate(4deg);
  position: relative;
  top: 5px;
}

ul li:nth-child(odd) {
  transform: rotate(-7deg);
  position: relative;
  top: 5px;
}

ul li:nth-child(3n) {
  transform: rotate(-3deg);
  position: relative;
  top: -5px;
}

ul li:nth-child(5n) {
  transform: rotate(10deg);
  position: relative;
  top: -10px;
}

ul li a:hover {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.1);
}

button {
  margin: 2px;
}

.createNote {
  background-color: Green;
  display: inline-block;
  width: 6em;
  height: 3em;
  text-align: center;
}

.btnDeleteAll {
  background-color: Crimson;
  display: inline-block;
  width: 6em;
  height: 3em;
  text-align: center;
}

.btnDeleteSpecific {
  background-color: Crimson;
}

button:hover {
  transform: scale(1.1);
}

.buttonsZone {
  display: flex;
  justify-content: right;
}

#svelte {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  h1 {
    width: 100%;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input,
    textarea {
      display: block;
      font-family: inherit;
      font-size: inherit;
      width: 100%;
      margin-bottom: 15px;
    }

    textarea {
      resize: none;
    }

    p {
      text-transform: uppercase;
      font-weight: normal;
      line-height: 1.5;
      font-size: 2rem;
    }

    button {
      padding: 5px 10px;
    }
  }
}
